/* 
.container_SpeechToText {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 100px;

}

.textContainer_SpeechToText {
  height: 300px;
  width: 80%;
  margin: auto;
  overflow: auto;
  padding: 20px;
  box-shadow: 2px 2px 10px 2px rgb(201, 200, 200);
}

.btnContainer_SpeechToText {
  margin-top: 20px;
}


.btn_SpeechToText {
  margin: 5px 10px;
  padding: 10px 20px;
  font-weight: bolder;

  border: none;
  background-color: cadetblue;
  font-size: large;
  border-radius: 3px;
  color: white;
}

.btn_SpeechToText:hover {
  scale: 1.1;
}

.file-container{
   background-color: white;
  color: black;
  margin-top: 20px;
  width:100%;
  border-top: 10 px solid white;
}


.parent{
  border: 5px solid white;
}
 */
.speech-to-text-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.speech-card {
  width: 200%; /* Adjust width percentage as needed */
  height: 200%;
  max-width: 1000px; /* Set a maximum width if necessary */
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Add padding for spacing inside the card */
  height: 400px; /* Adjust the height value as needed */
}

.card-title {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.right-section {
  width: 60%;

  padding-left: 20px;
  flex-direction: column;
}

.text-box {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.transcript-text {
  margin: 0;
}

.button-speech-to-text {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-start,
.btn-stop,
.btn-clear,
.btn-copy {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #204a76;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-start:hover {
  background-color: #0056b3;
}
.btn-stop:hover {
  background-color: #0056b3;
}
.btn-clear:hover {
  background-color: #0056b3;
}
.btn-copy:hover {
  background-color: #0056b3;
}

.btn-start:hover {
  background-color: #0056b3;
}

.file-upload-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-upload-container h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

input[type="file"] {
  display: block;
  margin: 10px auto;
}

pre {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
}
