
.container_SpeechToText {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 100px;

}

.textContainer_SpeechToText {
  height: 300px;
  width: 80%;
  margin: auto;
  overflow: auto;
  padding: 20px;
  box-shadow: 2px 2px 10px 2px rgb(201, 200, 200);
}

.btnContainer_SpeechToText {
  margin-top: 20px;
}


.btn_SpeechToText {
  margin: 5px 10px;
  padding: 10px 20px;
  font-weight: bolder;

  border: none;
  background-color: cadetblue;
  font-size: large;
  border-radius: 3px;
  color: white;
}

.btn_SpeechToText:hover {
  scale: 1.1;
}

/* in zawar file this is already in comment form
 @media screen and (max-width: 992px) {
  .container_SpeechToText {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container_SpeechToText {
    width: 100%;
  }
}


@media screen and (max-width: 525px) {
  .btnContainer_SpeechToText {
    padding-top: 20px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;

  }
} */


/* youshe code */


/* .main-container{

  background-color: white;
   border:3px solid rgb(237, 18, 18); 

  display:flex;
  flex-direction: row;
  align-items: flex-start;


} */

.file-container{
   background-color: white;
  color: black;
  margin-top: 20px;
  width:100%;
  border-top: 10 px solid white;
}

/* .speech-container{
   border:3px solid rgb(237, 18, 18); 
  display: flex;
  
} */
/* .container{
 
  
  
} */

.parent{
  border: 5px solid white;
}

