/* textToSpeech.css */
  
  .speak-button {
    background-color: #450d68;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 200px; 
  }
  
   .speak-button:hover {
    background-color: #0b0366;
  }
  

  .btn-container{
    align-items: center;
  }



  .main-container{
    /* border:10px solid white; */
    margin-top: 200px;
    color: white;
    max-width: 80rem;
  }
  .gen-sound{
    border:5px red;
    background-color: black;
    margin-top:100px;
  }
  .gen-sound2{
    border: 2px solid blue;
  }